// Dark Mode
$DarkModeElements: hsl(209, 23%, 22%);
$DarkModeText: hsl(0, 0%, 100%);
$DarkModeBackground: hsl(207, 26%, 17%);

// Light Mode
$LightModeText: hsl(200, 15%, 8%);
$LightModeInput: #858585;
$LightModeBackground: hsl(0, 0%, 95%);
$LightModeElements: hsl(0, 0%, 100%);
