@import "../../sass/variables/variables";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 0 3.5vw;
  box-shadow: 0 -5px 10px black;
  h1 {
    font-weight: 800;
  }

  .theme {
    display: flex;
    align-items: center;
    gap: 10px;

    .themeToggle {
      cursor: pointer;
    }

    span {
      font-weight: 600;
    }
  }
}

.lightTheme {
  background-color: $LightModeElements;
  color: $LightModeText;
}

.darkTheme {
  background-color: $DarkModeElements;
  color: $DarkModeText;
}
